<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92901610544-s0lm16vmv0gmdgrbn94lv27s14t8ia95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92901610544-s0lm16vmv0gmdgrbn94lv27s14t8ia95</string>
	<key>API_KEY</key>
	<string>AIzaSyAbMDfZvxFA4YaVP5-52pY10uRBQl_AMik</string>
	<key>GCM_SENDER_ID</key>
	<string>92901610544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pepo.v2.production</string>
	<key>PROJECT_ID</key>
	<string>pepo-production-ea5b6</string>
	<key>STORAGE_BUCKET</key>
	<string>pepo-production-ea5b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92901610544:ios:2cb6a6baa234b471fac9f5</string>
	<key>DATABASE_URL</key>
	<string>https://pepo-production-ea5b6.firebaseio.com</string>
</dict>
</plist>