<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>256507122234-0n15ivihpium2jjit8ribqiqmalt9boc.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.256507122234-0n15ivihpium2jjit8ribqiqmalt9boc</string>
    <key>API_KEY</key>
    <string>AIzaSyDY9hVMmH7T_JEYUcG1ixya2QOujMT1gng</string>
    <key>GCM_SENDER_ID</key>
    <string>256507122234</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.pepo.staging</string>
    <key>PROJECT_ID</key>
    <string>pepo-staging-60d8e</string>
    <key>STORAGE_BUCKET</key>
    <string>pepo-staging-60d8e.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:256507122234:ios:ee3f5e72acb88117cd1b03</string>
    <key>DATABASE_URL</key>
    <string>https://pepo-staging-60d8e.firebaseio.com</string>
  </dict>
</plist>
